{{ partial "header.html" . }}
<div class="article-meta">
  <h1><span class="title">{{ .Title }}</span></h1>
  {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
  <!-- {{ if .Params.date }}<h4 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }} -->
    <!-- <p class="terms">
      {{ range $i := (slice "categories" "tags") }}
      {{ with ($.Param $i) }}
      {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
      {{ end }}
      {{ end }}
    </p> -->
  </div>
  
  {{ if .Params.toc }}
  {{ .TableOfContents }}
  {{ end }}
  
  <div class="content">
    {{ .Content }}
  </div>
  
  {{ if and (not (eq .Params.Disqus "false")) (not .Draft) }}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "https://mlesniak.com/{{ .RelPermalink }}";  
      // this.page.identifier = "http://mlesniak.com/{{ .RelPermalink }}";
    };
    (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://mlesniaks-blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{{ end }}

{{ partial "footer.html" . }}
