{{ partial "header.html" . }}

<div class="content">
  {{if not .IsHome }}
  <h1>{{ .Title }}</h1>
  {{ end }}
  
  {{ .Content }}

  <!-- {{ if gt (len .Data.Pages) 1 }} -->
  <h3>Articles</h3>
  <ul class="articles">
    <!-- {{ range (where .Data.Pages "Section" "!=" "")}} -->
    <!-- {{ if not (eq .Params.Listed "false") }} -->
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
      (<span class="date">{{ .Date.Format "2006-01-02" }}</span>)
    </li>
    <!-- {{ end }} -->
    <!-- {{ end }} -->
  </ul>
  <!-- {{ end }} -->
</div>

{{ partial "footer.html" . }}
