{{ partial "header.html" . }}

<div class="content">
  {{if not .IsHome }}
  <h1>{{ .Title }}</h1>
  {{ end }}
  
  {{ .Content }}
  
  {{if  .IsHome }}
  <h3>Articles</h3>
  {{ end }}
  <ul class="articles">
    {{ range (where .Data.Pages "Section" "!=" "")}}
    {{ if not (eq .Params.Listed "false") }}
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
      (<span class="date">{{ .Date.Format "2006-01-02" }}</span>)
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}
