<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="26be189b-98de-4134-8d90-6d1c6a4b4b54" type="text/javascript" async></script>
<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-C9D7Y7JR6Y"></script> -->
<!-- <script> -->
<!--   window.dataLayer = window.dataLayer || []; -->
<!--   function gtag(){dataLayer.push(arguments);} -->
<!--   gtag('js', new Date()); -->
<!---->
<!--   gtag('config', 'G-C9D7Y7JR6Y'); -->
<!-- </script> -->
<link rel="stylesheet" href="/custom.css" />

